extends ../../layout

append head
    script(src='/javascripts/setting/role.js')
block content
    .app-layout
        include ../../include/app-header
        #main
            include ../../include/app-sidebar
            #content
                .content-layout
                    .detail-wrapper
                        .detail
                            section
                                .action-bar.clearfix
                                    button.button-close-pane
                                .scrollable
                                    .inner
                                        form.form-horizontal
                                            .control-group
                                                label.control-label(for='name') 角色名称
                                                .controls
                                                    input(type='text', placeholder='角色名称', name='name')
                                            .control-group
                                                .controls
                                                    button.btn.btn-primary 创建
                    .list
                        .list-header.clearfix
                            header 设置
                            .create-wrapper
                                button.btn.btn-primary 添加角色
                        .selected-setting-nav
                            ul.nav.nav-pills
                                li.active
                                    a(href='/settings/roles') 角色
                                li
                                    a(href='') 任务状态
                        .setting-list.scrollable
                            ul.unstyled
                                li
                                    a(href='#') 开发
                                li
                                    a(href='#') 设计
                                li
                                    a(href='#') 项目
                                li
                                    a(href='#') 测试
                                li
                                    a(href='#') 需求