doctype 5
html(lang='en')
    head
        title= title
        link(rel='stylesheet', href='/framework/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='http://code.jquery.com/jquery-latest.js')
        script(src='/framework/bootstrap/js/bootstrap.min.js')
    body
        block content