doctype 5
html(lang='en')
    head
        block head
            title= title
            link(rel='stylesheet', href='/framework/bootstrap/css/bootstrap.min.css')
            link(rel='stylesheet', href='/stylesheets/main.css')
            script(src='/framework/jquery-1.8.2.min.js')
            script(src='/framework/bootstrap/js/bootstrap.min.js')
            script(src='/framework/underscore-min.js')
            script(src='/framework/backbone-min.js')
            script(src='/javascripts/global.js')
    body
        block content
        block modal
        #loginModal.modal.hide.fade(tabindex="-1", role="dialog", aria-hidden="true")
            .modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true") x
                h3 登录
            .modal-body
                .input-append
                    input#loginPassword(type="password", name="password", placeholder="密码")
                    button#submitLoginBtn.btn.btn-primary 登录
            .modal-footer
                button.btn(data-dismiss="modal", aria-hidden="true") 关闭
                