header#header
    a#logo(href='/') 平台项目进度表
    .search.dark-fields
        input(type='search', autocomplete='off')
    - if (user !== null)
        a.user-avatar(href='/users/#{user._id}')
            span  #{user.name}
            img(src='#{user.avatar_url}')