header#header
    a#logo(href='/') 平台项目进度表
    .search.dark-fields
        input(type='search', autocomplete='off')
    - if (me !== null)
        a.user-avatar(href='/users/#{me._id}')
            span  #{me.name}
            img(src='#{me.avatar_url}')