nav#sidebar
    header#header
        #logo
            a(href='/') 项目进度表
        - if (me !== null)
            .user-avatar
                a(href='/users/#{me._id}')
                    img(src='#{me.avatar_url}')
                    span  #{me.name}
        .search
            span
            form(action='/')
                input(type='search', name='keyword', autocomplete='off',placeholder="任务名或id")
    .sidebar-content
        ul
            li
                a(href='/')
                    i.icon-tasks
                    span 任务
            li
                a(href='/mine')
                    i.icon-asterisk
                    span 我的任务
            li
                a(href='/tasks?status=需求提交')
                    i.icon-cog
                    span 需求
            li
                a(href='/tasks?active=false')
                    i.icon-lock
                    span 已存档
            li
                a(href='/users')
                    i.icon-user
                    span 成员
            li
                a(href='/wikis')
                    i.icon-glass
                    span Wiki
    .sidebar-bottom
        a.app-settings(href='https://github.com/chuzhengcn/EasyTask', target='_blank')