nav#sidebar
    header#header
        #logo
            a(href='/') 项目进度表
        .user-avatar
            a(href='#')
                img(src='/images/blank-avatar.jpg')
                span
        .search
            span
            form(action='/tasks-search')
                input(type='search', name='keyword', autocomplete='off',placeholder="任务名、id、人员名称")
    .sidebar-content
        ul
            li
                a(href='/')
                    i.icon-tasks
                    span 任务
            //- li
            //-     a(href='/tasks-archive')
            //-         i.icon-lock
            //-         span 已存档
            li
                a(href='/users')
                    i.icon-user
                    span 成员
            li
                a(href='/review-index')
                    i.icon-star
                    span 评价
            li
                a(href='/wikis')
                    i.icon-glass
                    span Wiki
    .sidebar-bottom
        a.app-settings(href='https://github.com/chuzhengcn/EasyTask', target='_blank')