nav#sidebar
    .sidebar-content
        ul
            li
                a(href='/')
                    i.icon-tasks
                    span 任务
            li
                a(href='/')
                    i.icon-asterisk
                    span 我的任务
            li
                a(href='/users')
                    i.icon-user
                    span 成员
    .sidebar-bottom
        a.app-settings(href='#')