.task-nav#task_inside_nav
    ul.nav.nav-pills
        li
            a(href='/tasks/#{task.custom_id}') 任务主页
        li
            a(href='/tasks/#{task.custom_id}/status') 版本历史
        li
            a(href='/tasks/#{task.custom_id}/bugs') Bug
        //- li
        //-     a(href='/tasks/#{task._id}/uploads') 附件