.task-nav#task_inside_nav
    ul.nav.nav-pills
        li
            a(href='/tasks/#{task._id}') 摘要
        li
            a(href='/tasks/#{task._id}/todos') 文档
        li
            a(href='/tasks/#{task._id}/status') 版本管理
        li
            a(href='/tasks/#{task._id}/uploads') 附件