option(value='需求提交') 需求提交
option(value='任务已分配') 任务已分配
option(value='开发已完成') 开发已完成
option(value='已提交Master') 已提交Master
option(value='已提交Test') 已提交Test
option(value='已提交Dev') 已提交Dev
option(value='测试打回') 测试打回
option(value='测试通过') 测试通过