extends ../layout

block content
    .app-layout
        include ../include/app-header
        #main
            include ../include/app-sidebar
            #content
                .content-layout
                    .list
                        .list-header
                            header 成员



