//---------------img url ------------------------------
$body-bg        = '/images/body-bg.png'
$header-bg      = '/images/header-bg.png'
$icon-search    = '/images/icon-search.png'
$icon-action    = '/images/icon-action.png'
//---------------basic-------------------------------------------

//----------------utility--------------------------------------
a:hover
    text-decoration none
button
    background none
    border none
    outline none
.dark-fields 
    input[type="text"], input[type="email"], input[type="password"], input[type="search"],textarea, select
        background-color rgba(0, 0, 0, 0.35)
        border none
        border-radius 3px
        box-shadow 0 1px 3px rgba(0, 0, 0, 0.7) inset, 0 1px 0 rgba(0, 0, 0, 0.65), 0 2px 0 rgba(255, 255, 255, 0.2)
        color rgba(255, 255, 255, 0.8)
        &:focus
            box-shadow 0 1px 3px rgba(0, 0, 0, 0.7) inset, 0 1px 0 rgba(0, 0, 0, 0.65), 0 1px 12px  rgba(255, 255, 255, 0.65)
.scrollable
    overflow-x hidden
    overflow-y auto
body
    background #333 url($body-bg) 0 0 repeat
    width 100%
    height 100%
    overflow hidden
    min-width 1000px
//-----------------------------header---------------------------------
#header
    background url($header-bg) 0 0 repeat-x
    border-bottom 1px solid #010101
    box-shadow 0 1px 8px rgba(0, 0, 0, 0.66)
    height 48px
    width 100%
    .search
        float left
        padding 13px 20px 0 20px
        input
            width 292px
            padding-right 20px
            background rgba(0, 0, 0, 0.35) url($icon-search) 96% center no-repeat
            height 16px
            line-height 16px
    .user-avatar
        float right
        padding 0 10px
        height 48px
        color rgba(255, 255, 255, 0.66)
        span
            float right
            line-height 48px
            padding 0 10px
        img
            vertical-align text-top
            float right
            margin-top 8px
            width 32px
            height 32px
            border-radius 3px
            box-shadow 0 1px 4px rgba(0, 0, 0, 0.45) inset, 0 1px 0 rgba(255, 255, 255, 0.33)
#logo
    cursor pointer
    float left
    height 48px
    line-height 48px
    padding 0 20px
    font-size 24px
    color #cdcdcd
    font-weight bold
    &:hover
        color #eee
#main
    position absolute
    top 49px
    left 0
    right 0
    bottom 0
    min-width 1000px
    overflow hidden
// -----------------------main_nav-------------------------------------
#sidebar
    float left
    height 100%
    position relative
    width 180px
    .sidebar-content
        bottom 48px
        overflow-y auto
        position absolute
        top 0
        width 100%
        ul
            padding-top 30px
        a
            color rgba(255, 255, 255, 0.66)
            text-shadow 0 1px 1px rgba(0, 0, 0, 0.66)
            font-weight 500
            display block
            height 38px
            span
                display inline-block
                padding 0 20px
            &:hover, &.selected
                color #fff
    .sidebar-bottom
        border-top 1px solid rgba(0, 0, 0, 0.18)
        bottom 0
        box-shadow 0 1px 0 rgba(255, 255, 255, 0.18) inset
        position absolute
        width 180px
        color rgba(255, 255, 255, 0.45)
        display block
        line-height 48px
        text-shadow 0 1px 1px rgba(0, 0, 0, 0.66)
        height 48px
        .app-settings
            height 20px
            width 20px
            background url($icon-action) 0 -340px no-repeat
            position absolute
            right 10px
            top 15px
#content
    bottom 0
    left 181px
    overflow hidden
    position absolute
    right 0
    top 0
    .content-layout
        height 100%
        .detail-wrapper
            float right
            height 100%
            position relative
            width 0
            z-index 99
            .detail
                background-color #FDFDFD
                width 432px
                bottom 0
                left 0
                position absolute
                right 0
                top 0
                section
                    height 100%
                    .action-bar
                        height 50px
                        line-height 36px
                        border-bottom 1px solid rgba(0, 0, 0, 0.08)
                        .button-close-pane
                            float right
                            margin 16px 8px 0 8px
                            height 20px
                            width 20px
                            background url($icon-action) 0 -20px no-repeat
                    .scrollable
                        position absolute
                        top 50px
                        left 0
                        right 0
                        bottom 0
                        .inner
                            padding-top 12px
                        .form-horizontal .control-label
                            width 80px
                        .form-horizontal .controls
                            margin-left 100px
        .list
            background #fff
            border-right 1px solid #DCDCDC
            height 100%
            overflow hidden
            position relative
            z-index 100
            .list-header
                background-color #F8F8F8
                background -webkit-linear-gradient(#F4F4F4, #EEEEEE) repeat 0 0
                background -moz-linear-gradient(#F4F4F4, #EEEEEE) repeat 0 0
                padding 0 12px
                height 50px
                border-bottom 1px solid #DCDCDC
                header
                    font-weight bold
                    color #515151
                    line-height 50px
                    overflow: hidden
                    text-overflow ellipsis
                    white-space nowrap
                    float left
                    font-size 16px
                    .breadcrumb
                        padding 0
                        margin 0
                        background none
                .operate-wrapper
                    float right
                    padding-top 10px
                    button
                        margin-right 10px
//----------------------user-list----------------------------------------
.avatar-preview
    margin-bottom 20px
    img
        max-width 100px
        max-height 100px
.user-list
    position absolute
    left 0
    top 51px
    bottom 0
    right 0
    .user-list-wrapper
        padding 20px
        .user-item
            float left
            width 250px
            height 70px
            overflow hidden
            color #333
            border solid 1px #fff
            padding 5px
            margin 0 20px 20px 0
            &:hover
                border-radius 6px
                box-shadow 0 1px 12px rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 12px  rgba(255, 255, 255, 0.65) inset
            img
                float left
                width 60px
                height 60px
                margin-right 15px
            .item-info
                float left
                .name
                    padding 5px 5px 0 0
                    font-weight bold
//----------------------user-info----------------------------------------
.user-info-wrapper
    padding 20px
    border-bottom solid 1px #dfdfdf
    img
        width 90px
        height 90px
        margin-right 20px
