.disnone {
  display: none;
}
a:hover {
  text-decoration: none;
}
button {
  background: none;
  border: none;
  outline: none;
}
.dark-fields input[type="text"],
.dark-fields input[type="email"],
.dark-fields input[type="password"],
.dark-fields input[type="search"],
.dark-fields textarea,
.dark-fields select {
  background-color: rgba(0,0,0,0.35);
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.7) inset, 0 1px 0 rgba(0,0,0,0.65), 0 2px 0 rgba(255,255,255,0.2);
  color: rgba(255,255,255,0.8);
}
.dark-fields input[type="text"]:focus,
.dark-fields input[type="email"]:focus,
.dark-fields input[type="password"]:focus,
.dark-fields input[type="search"]:focus,
.dark-fields textarea:focus,
.dark-fields select:focus {
  box-shadow: 0 1px 3px rgba(0,0,0,0.7) inset, 0 1px 0 rgba(0,0,0,0.65), 0 1px 12px rgba(255,255,255,0.65);
}
.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  background: #383a3b;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 1000px;
}
.modal-footer .modal-footer-btns {
  float: left;
}
.modal-footer .modal-footer-btns button {
  margin-right: 10px;
}
#header {
  position: relative;
}
#header #logo {
  height: 48px;
  line-height: 48px;
  padding: 0 10px;
  font-weight: bold;
  background-image: linear-gradient(#383838, #313131);
  border-bottom: 1px solid #010101;
  box-shadow: 0 0px 1px rgba(0,0,0,0.66);
}
#header #logo a {
  display: block;
  font-size: 18px;
  color: #cdcdcd;
}
#header #logo a:hover {
  color: #eee;
}
#header .search {
  position: absolute;
  left: 140px;
  top: 0;
}
#header .search span {
  background: url("/images/search-mini-dark.png") 3px center no-repeat;
  display: inline-block;
  width: 35px;
  height: 48px;
  cursor: pointer;
}
#header .search form {
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 1000;
  height: 48px;
  background: #383a3b;
  padding-right: 20px;
  display: none;
}
#header .search input {
  width: 300px;
  height: 16px;
  margin-top: 12px;
  line-height: 16px;
}
#header .user-avatar {
  padding: 0 10px;
  height: 48px;
  border-bottom: 1px solid rgba(0,0,0,0.18);
}
#header .user-avatar a {
  display: inline-block;
  color: rgba(255,255,255,0.66);
}
#header .user-avatar span {
  float: left;
  line-height: 48px;
  padding: 0 10px;
}
#header .user-avatar img {
  vertical-align: text-top;
  float: left;
  margin-top: 8px;
  width: 32px;
  height: 32px;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.45) inset, 0 1px 0 rgba(255,255,255,0.33);
}
#header #loginBtn {
  position: absolute;
  right: 10px;
  top: 65px;
  font-size: 12px;
  color: rgba(255,255,255,0.66);
}
#header #loginBtn:hover {
  text-decoration: underline;
}
#main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 1000px;
  overflow: hidden;
}
#sidebar {
  float: left;
  height: 100%;
  position: relative;
  width: 180px;
}
#sidebar .sidebar-content {
  bottom: 48px;
  overflow-y: auto;
  position: absolute;
  top: 98px;
  width: 100%;
  border-top: solid 1px rgba(255,255,255,0.1);
}
#sidebar .sidebar-content ul {
  padding-top: 15px;
}
#sidebar .sidebar-content a {
  color: rgba(255,255,255,0.66);
  text-shadow: 0 1px 1px rgba(0,0,0,0.66);
  font-weight: 500;
  display: block;
  height: 38px;
}
#sidebar .sidebar-content a span {
  display: inline-block;
  padding: 0 20px;
}
#sidebar .sidebar-content a:hover,
#sidebar .sidebar-content a.selected {
  color: #fff;
}
#sidebar .sidebar-bottom {
  border-top: 1px solid rgba(0,0,0,0.18);
  bottom: 0;
  box-shadow: 0 1px 0 rgba(255,255,255,0.18) inset;
  position: absolute;
  width: 180px;
  color: rgba(255,255,255,0.45);
  display: block;
  line-height: 48px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.66);
  height: 48px;
}
#sidebar .sidebar-bottom .app-settings {
  height: 20px;
  width: 20px;
  background: url("/images/icon-action.png") 0 -340px no-repeat;
  position: absolute;
  right: 10px;
  top: 15px;
}
#content {
  bottom: 0;
  left: 181px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}
#content .content-layout {
  height: 100%;
}
#content .content-layout .detail-wrapper {
  float: right;
  height: 100%;
  position: relative;
  width: 0;
  z-index: 99;
}
#content .content-layout .detail-wrapper .detail {
  background-color: #fdfdfd;
  width: 432px;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
#content .content-layout .detail-wrapper .detail section {
  height: 100%;
}
#content .content-layout .detail-wrapper .detail section .action-bar {
  height: 50px;
  line-height: 36px;
  border-bottom: 1px solid rgba(0,0,0,0.08);
}
#content .content-layout .detail-wrapper .detail section .action-bar .button-close-pane {
  float: right;
  margin: 16px 8px 0 8px;
  height: 20px;
  width: 20px;
  background: url("/images/icon-action.png") 0 -20px no-repeat;
}
#content .content-layout .detail-wrapper .detail section .scrollable {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}
#content .content-layout .detail-wrapper .detail section .scrollable .inner {
  padding-top: 12px;
}
#content .content-layout .detail-wrapper .detail section .scrollable .form-horizontal .control-label {
  width: 70px;
}
#content .content-layout .detail-wrapper .detail section .scrollable .form-horizontal .controls {
  margin-left: 90px;
}
#content .content-layout .list {
  background: #fff;
  border-right: 1px solid #dcdcdc;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 100;
}
#content .content-layout .list .list-header {
  background-color: #f8f8f8;
  background: -webkit-linear-gradient(#f4f4f4, #eee) repeat 0 0;
  background: -moz-linear-gradient(#f4f4f4, #eee) repeat 0 0;
  padding: 0 12px;
  height: 48px;
  border-bottom: 1px solid #dcdcdc;
  position: relative;
}
#content .content-layout .list .list-header header {
  font-weight: bold;
  color: #515151;
  line-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  font-size: 16px;
}
#content .content-layout .list .list-header header .breadcrumb {
  padding: 0;
  margin: 0;
  background: none;
}
#content .content-layout .list .list-header header a.task-name {
  color: #515151;
}
#content .content-layout .list .list-header header a.task-name:hover {
  text-decoration: underline;
}
#content .content-layout .list .list-header header a.task-name i {
  margin-right: 10px;
}
#content .content-layout .list .list-header .operate-wrapper {
  position: absolute;
  right: 10px;
  top: 10px;
}
#content .content-layout .list .list-header .operate-wrapper button {
  margin-left: 10px;
}
#content .content-layout .list .list-header .operate-wrapper a {
  margin-left: 10px;
}
#content .content-layout .list .list-header .back {
  position: absolute;
  left: 10px;
  top: 10px;
}
#content .content-layout .list .list-header .back button {
  margin-right: 10px;
}
#content .content-layout .list .list-header .back a {
  margin-right: 10px;
}
#content .content-layout .list .main-body {
  position: absolute;
  top: 49px;
  left: 0;
  bottom: 0;
  right: 0;
}
#create_user_btn {
  margin-top: 20px;
}
.avatar-preview {
  height: 90px;
}
.avatar-preview img {
  max-width: 80px;
  max-height: 80px;
}
.user-list {
  position: absolute;
  left: 0;
  top: 51px;
  bottom: 0;
  right: 0;
}
.user-list .user-list-wrapper {
  padding: 20px;
}
.user-list .user-list-wrapper .user-item {
  float: left;
  width: 250px;
  height: 70px;
  overflow: hidden;
  color: #333;
  border: solid 1px #fff;
  padding: 5px;
  margin: 0 20px 20px 0;
}
.user-list .user-list-wrapper .user-item:hover {
  border-radius: 6px;
  box-shadow: 0 1px 12px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.2), 0 1px 12px rgba(255,255,255,0.65) inset;
}
.user-list .user-list-wrapper .user-item img {
  float: left;
  max-width: 60px;
  max-height: 60px;
  margin-right: 15px;
}
.user-list .user-list-wrapper .user-item .item-info {
  float: left;
}
.user-list .user-list-wrapper .user-item .item-info .name {
  padding: 5px 5px 0 0;
  font-weight: bold;
}
.user-info-wrapper {
  padding: 20px;
  border-bottom: solid 1px #dfdfdf;
}
.user-info-wrapper img {
  max-width: 90px;
  max-height: 90px;
  margin-right: 20px;
}
.user-tab-content {
  padding: 20px;
}
.user-tab-content .working-num {
  padding-bottom: 10px;
}
.user-operate-log .log-group-date {
  background-color: #fdfdfd;
  padding: 10px;
  margin: 20px 0;
  border: solid 1px #dfdfdf;
  border-radius: 6px;
}
.user-operate-log h5 {
  padding: 0px 10px 0 10px;
}
.user-operate-log ul {
  margin-left: 40px;
}
.user-operate-log ul li {
  margin-bottom: 10px;
}
.user-operate-log ul li span,
.user-operate-log ul li a {
  margin-right: 20px;
}
.user-operate-log ul li .content {
  color: #666;
  font-size: 12px;
}
#edit_user_btn {
  margin-top: 20px;
}
.log-info-wrapper {
  padding: 20px;
}
.log-info-wrapper .log-group-date {
  background-color: #fdfdfd;
  padding: 10px;
  margin: 20px;
  border: solid 1px #dfdfdf;
  border-radius: 6px;
}
.log-info-wrapper h5 {
  padding: 0px 10px 0 10px;
}
.log-info-wrapper ul {
  margin-left: 60px;
}
.log-info-wrapper ul li {
  margin-bottom: 10px;
}
.log-info-wrapper ul li span {
  margin-right: 20px;
}
.log-info-wrapper ul li .content {
  color: #666;
  font-size: 12px;
}
#edit_user_btn {
  margin-top: 20px;
}
#addMoreTaskUserBtn,
#addMoreProjectBtn {
  display: block;
}
#addMoreTaskUserBtn i,
#addMoreProjectBtn i {
  margin-right: 5px;
}
.user-and-socre {
  margin-bottom: 10px;
}
.user-and-socre input {
  margin-right: 5px;
}
input[name="project"] {
  margin-bottom: 10px;
}
.list-body {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 49px;
}
.list-body .list-gap {
  background: linear-gradient(#e1e1e1, #cdcdcd) repeat 0 0;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
}
.list-body .list-gap span.amount {
  box-shadow: rgba(0,0,0,0.18) 0 0 4px inset;
  border-radius: 3px;
  text-shadow: #fff 0 1px 1px;
  border: 1px solid rgba(0,0,0,0.18);
  color: rgba(0,0,0,0.55);
  display: inline-block;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  margin-left: 10px;
  padding: 2px 4px;
  text-align: center;
  vertical-align: middle;
}
.list-body .task-list-filter {
  background: linear-gradient(#e1e1e1, #cdcdcd) repeat 0 0;
  background: -webkit-linear-gradient(#e1e1e1, #cdcdcd) repeat 0 0;
  height: 32px;
  line-height: 30px;
  padding: 0 10px;
}
.list-body .task-list-filter .btn-group {
  float: left;
  margin-right: 30px;
}
.list-body .task-list-filter .task-custom-id {
  float: left;
  width: 50px;
  padding-left: 5px;
}
.list-body .task-list-filter .name {
  float: left;
}
.list-body .task-list-filter .status {
  float: right;
  width: 150px;
}
.list-body .task-list-filter .branch {
  float: right;
  width: 170px;
}
.list-body .task-list-filter .time {
  float: right;
  width: 160px;
}
.list-body .task-list-filter .users {
  float: right;
  width: 160px;
}
.list-body .task-list-filter .users span.name {
  float: left;
}
.list-body .task-list-filter .users span.role {
  float: right;
  font-size: 12px;
}
.list-body .task-list {
  margin-bottom: 0;
}
.list-body .task-list li {
  padding: 15px 10px 15px 15px;
  height: 20px;
  border-bottom: solid 1px #dfdfdf;
}
.list-body .task-list li .task-custom-id {
  width: 50px;
  float: left;
}
.list-body .task-list li .name {
  color: rgba(0,0,0,0.85);
  float: left;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-body .task-list li .name:hover {
  text-decoration: underline;
}
.list-body .task-list li .name i {
  margin-right: 10px;
}
.list-body .task-list li .status {
  float: right;
  width: 150px;
}
.list-body .task-list li .branch {
  float: right;
  width: 170px;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-body .task-list li .time,
.list-body .task-list li .users {
  float: right;
  cursor: pointer;
  width: 160px;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-body .task-list li .time span {
  border-bottom: dashed 1px #999;
}
.list-body .task-list li.mine {
  background-color: #e9eef7;
}
.list-body .pager {
  padding: 0 10px;
  display: none;
}
.event-time-content-in-popover,
.task-users-content-in-popover {
  display: none;
}
.task_section_more {
  color: #333;
  display: inline-block;
  padding-bottom: 5px;
}
.task-summary {
  position: absolute;
  top: 51px;
  left: 0;
  bottom: 0;
  right: 0;
}
.task-summary .task-summary-wrapper {
  padding-bottom: 10px;
  position: relative;
}
.task-summary .task-summary-wrapper .task-users {
  border-bottom: solid 1px #dfdfdf;
}
.task-summary .task-summary-wrapper .task-users .task-users-wrapper {
  clear: both;
  padding: 0 20px 10px 20px;
}
.task-summary .task-summary-wrapper .task-users .user {
  float: left;
  margin-bottom: 10px;
  width: 180px;
  height: 50px;
  color: #666;
  overflow: hidden;
}
.task-summary .task-summary-wrapper .task-users .user img {
  max-width: 40px;
  max-height: 40px;
  float: left;
  margin-right: 10px;
}
.task-summary .task-summary-wrapper .task-users .user .info {
  float: left;
  padding-top: 2px;
  font-weight: bold;
}
.task-summary .task-summary-wrapper .task-users .user .info .name {
  margin-bottom: 5px;
}
.task-summary .task-summary-wrapper .task-info-all {
  border-bottom: solid 1px #dfdfdf;
  padding-bottom: 10px;
}
.task-summary .task-summary-wrapper .task-info-all .task-info {
  float: left;
  padding: 0 120px 0 20px;
  min-height: 200px;
}
.task-summary .task-summary-wrapper .task-info-all .task-info li {
  margin-bottom: 5px;
}
.task-summary .task-summary-wrapper .task-info-all .task-info li span.title {
  font-weight: bold;
  width: 70px;
  display: inline-block;
}
.task-summary .task-summary-wrapper .task-info-all .task-milestone {
  padding: 0 40px 0 20px;
  float: left;
  min-height: 200px;
}
.task-summary .task-summary-wrapper .task-info-all .task-milestone h5 i {
  cursor: pointer;
}
.task-summary .task-summary-wrapper .task-info-all .task-milestone ul li {
  margin-bottom: 5px;
}
.task-summary .task-summary-wrapper .task-info-all .task-milestone ul li span {
  margin-right: 10px;
}
.task-summary .task-summary-wrapper .task-info-all .task-milestone ul li .content {
  margin-left: 10px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}
.task-summary .task-summary-wrapper .task-info-all .task-summary-log {
  float: left;
  padding: 0 20px;
  overflow: hidden;
  min-height: 200px;
}
.task-summary .task-summary-wrapper .task-info-all .task-summary-log ul li {
  margin-bottom: 5px;
}
.task-summary .task-summary-wrapper .task-info-all .task-summary-log ul li span {
  margin-right: 10px;
}
.task-summary .task-summary-wrapper .task-info-all .task-rating {
  clear: both;
  padding: 0 60px 0 20px;
  position: relative;
}
.task-summary .task-summary-wrapper .task-info-all .task-rating li {
  margin-bottom: 10px;
}
.task-summary .task-summary-wrapper .task-info-all .task-rating #addRatingBtn {
  cursor: pointer;
}
.task-summary .task-summary-wrapper .task-summary-version {
  position: relative;
  padding: 0 200px 30px 20px;
  border-bottom: solid 1px #dfdfdf;
}
.task-summary .task-summary-wrapper .task-summary-version img {
  position: absolute;
  top: 45px;
  left: 20px;
  max-width: 40px;
  max-height: 40px;
}
.task-summary .task-summary-wrapper .task-summary-version .change-status-btn-group {
  position: absolute;
  top: 15px;
  right: 20px;
}
.task-summary .task-summary-wrapper .task-summary-version .states-date {
  position: absolute;
  bottom: 10px;
  left: 87px;
  font-size: 12px;
  color: #999;
}
.task-summary .task-summary-wrapper .task-summary-version .status-history-content {
  padding: 2px 20px 0 65px;
}
.task-summary .task-summary-wrapper .task-summary-version .status-history-content .status-name {
  font-weight: bold;
  padding-bottom: 10px;
}
.task-summary .task-summary-wrapper .task-summary-version .status-history-content .status-name span {
  padding: 4px 10px 5px;
}
.task-summary .task-summary-wrapper .task-summary-version .status-history-content .status-history-des {
  font-size: 12px;
  padding-bottom: 5px;
}
.task-summary .task-summary-wrapper .task-summary-version .status-history-content .status-files {
  padding-bottom: 10px;
}
.task-summary .task-summary-wrapper .task-summary-version .status-history-content .status-files .file-item i {
  margin-right: 5px;
}
.task-summary .task-summary-wrapper .task-summary-bug {
  position: relative;
  border-bottom: solid 1px #dfdfdf;
  padding: 0 20px 0 20px;
}
.task-summary .task-summary-wrapper .task-summary-bug #addBugLink {
  position: absolute;
  right: 20px;
  top: 15px;
}
.task-summary .task-summary-wrapper .task-summary-bug #bugFilter {
  margin-bottom: 10px;
}
.task-summary .task-summary-wrapper .task-summary-bug #bugFilter button strong {
  font-weight: bold;
  margin-left: 5px;
}
.task-summary .task-summary-wrapper .task-summary-bug .more-bug {
  position: absolute;
  right: 20px;
  top: 15px;
}
.task-summary .task-summary-wrapper .task-summary-bug #fetchBugProgress {
  position: absolute;
  left: 450px;
  top: 22px;
  width: 250px;
}
.task-summary .task-summary-wrapper .task-summary-bug #bugList {
  display: none;
}
.task-summary .task-summary-wrapper .task-summary-bug #bugList i {
  cursor: pointer;
  margin-right: 5px;
}
.task-summary .task-summary-wrapper .task-summary-todo {
  position: relative;
  padding: 0 20px 10px 20px;
  border-bottom: solid 1px #dfdfdf;
}
.task-summary .task-summary-wrapper .task-summary-todo .link-group {
  position: absolute;
  right: 20px;
  top: 0;
}
.task-summary .task-summary-wrapper .task-summary-todo .link-group a {
  margin-left: 5px;
}
.task-summary .task-summary-wrapper .task-summary-todo .todo-list {
  clear: both;
}
.task-summary .task-summary-wrapper .task-summary-todo .todo-list li {
  border-bottom: solid 1px #dfdfdf;
  height: 20px;
  padding: 8px 0;
}
.task-summary .task-summary-wrapper .task-summary-todo .todo-list li:last-child {
  border-bottom: none;
}
.task-summary .task-summary-wrapper .task-summary-todo .todo-list li a.name {
  color: rgba(0,0,0,0.85);
  float: left;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.task-summary .task-summary-wrapper .task-summary-todo .todo-list li a.name:hover {
  text-decoration: underline;
}
.task-summary .task-summary-wrapper .task-summary-todo .todo-list li .category {
  float: right;
  line-height: 20px;
  margin-right: 20px;
}
.task-summary .task-summary-wrapper .task-summary-todo .todo-list li .comment-count {
  float: right;
  margin-top: 1px;
  margin-right: 20px;
}
.task-summary .task-summary-wrapper .task-summary-todo .todo-list li .index {
  float: left;
  width: 35px;
  padding-left: 5px;
}
.task-summary .task-summary-wrapper .task-summary-todo .todo-list li .time {
  float: right;
  font-size: 12px;
  color: #666;
  overflow: hidden;
}
.task-summary .task-summary-wrapper .task-summary-file .file-item-wrapper {
  clear: both;
  padding: 20px 20px 10px 20px;
}
.task-summary .task-summary-wrapper .task-summary-file .file-item-wrapper .file-item {
  background: #f4f4f4;
  float: left;
  padding: 10px 10px 10px 70px;
  position: relative;
  border: solid 1px #dfdfdf;
  margin: 0 20px 20px 0;
  width: 280px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.33), 0 1px 0 #fff inset;
}
.task-summary .task-summary-wrapper .task-summary-file .file-item-wrapper .file-item .type {
  position: absolute;
  top: 5px;
  left: 10px;
  max-width: 40px;
  max-height: 50px;
}
.task-summary .task-summary-wrapper .task-summary-file .file-item-wrapper .file-item .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
  display: block;
}
.task-summary .task-summary-wrapper .task-summary-file .file-item-wrapper .file-item .log {
  font-size: 12px;
}
#edit_task_info_form_wrapper,
#edit_task_users_form_wrapper,
#add_task_milestone_form_wrapper,
#task_branch_form_wrapper {
  display: none;
}
#edit_task_info_form_wrapper form legend,
#edit_task_users_form_wrapper form legend,
#add_task_milestone_form_wrapper form legend,
#task_branch_form_wrapper form legend {
  padding: 0 20px 3px 20px;
}
#createStatusForm {
  margin-bottom: 0;
}
#createStatusForm textarea {
  width: 510px;
  display: block;
  margin-bottom: 10px;
}
#customMilestoneNameInput {
  display: none;
}
#getNewCustomId {
  margin-left: 5px;
}
.milestone-info-wrapper {
  padding: 20px;
}
.milestone-info-wrapper #edit_task_milestone_form #custom_milestone_name_input {
  display: none;
}
.status-info-wrapper {
  padding: 0;
}
.status-info-wrapper .task-nav {
  padding: 10px 20px 10px 20px;
  border-bottom: solid 1px #dfdfdf;
}
.status-info-wrapper .task-nav ul {
  margin-bottom: 0;
}
.status-info-wrapper .status-history-item {
  padding: 0 0 20px 0;
  position: relative;
  border-bottom: solid 1px #dfdfdf;
}
.status-info-wrapper .status-history-item img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.status-info-wrapper .status-history-item .delete-this-status {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}
.status-info-wrapper .status-history-item .states-date {
  color: #999;
  font-size: 12px;
  position: absolute;
  left: 100px;
  bottom: 5px;
}
.status-info-wrapper .status-history-item .status-index {
  position: absolute;
  right: 10px;
  top: 10px;
}
.status-info-wrapper .status-history-item .status-history-content {
  padding: 20px 20px 0 100px;
}
.status-info-wrapper .status-history-item .status-history-content .status-name {
  font-weight: bold;
  padding-bottom: 20px;
}
.status-info-wrapper .status-history-item .status-history-content .status-name span {
  padding: 4px 10px 5px;
}
.status-info-wrapper .status-history-item .status-history-content .status-history-des {
  font-size: 12px;
  padding-bottom: 5px;
}
.status-info-wrapper .status-history-item .status-history-content .status-files {
  padding-bottom: 10px;
}
.status-info-wrapper .status-history-item .status-history-content .status-files .file-item i {
  margin-right: 5px;
}
#mark_task_status_form legend {
  padding: 0 20px 3px 20px;
}
.status-in-nav {
  margin-left: 10px;
}
#upload_status_files_input {
  margin-bottom: 10px;
}
.popstripe {
  background-image: linear-gradient(0deg, #e75239 0%, #e75239 12.5%, #ff961c 12.5%, #ff961c 25%, #ffcc27 25%, #ffcc27 37.5%, #fce62f 37.5%, #fce62f 50%, #cde35b 50%, #cde35b 62.5%, #82cc33 62.5%, #82cc33 75%, #41bece 75%, #41bece 87.5%, #049cdb 87.5%, #049cdb 100%);
  background-image: -webkit-linear-gradient(0deg, #e75239 0%, #e75239 12.5%, #ff961c 12.5%, #ff961c 25%, #ffcc27 25%, #ffcc27 37.5%, #fce62f 37.5%, #fce62f 50%, #cde35b 50%, #cde35b 62.5%, #82cc33 62.5%, #82cc33 75%, #41bece 75%, #41bece 87.5%, #049cdb 87.5%, #049cdb 100%);
  background-image: -moz-linear-gradient(0deg, #e75239 0%, #e75239 12.5%, #ff961c 12.5%, #ff961c 25%, #ffcc27 25%, #ffcc27 37.5%, #fce62f 37.5%, #fce62f 50%, #cde35b 50%, #cde35b 62.5%, #82cc33 62.5%, #82cc33 75%, #41bece 75%, #41bece 87.5%, #049cdb 87.5%, #049cdb 100%);
}
.files-list-wrapper .task-nav {
  padding: 10px 20px 10px 20px;
  border-bottom: solid 1px #dfdfdf;
}
.files-list-wrapper .task-nav ul {
  margin-bottom: 0;
}
.files-list-wrapper .file-item-wrapper {
  position: relative;
  padding: 20px 150px 20px 210px;
}
.files-list-wrapper .file-item-wrapper .operate-avatar {
  position: absolute;
  top: 22px;
  left: 150px;
  width: 50px;
  height: 50px;
}
.files-list-wrapper .file-item-wrapper .file-item {
  position: relative;
  border: solid 1px #dfdfdf;
  background: #f4f4f4;
  height: 80px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.33), 0 1px 0 #fff inset;
}
.files-list-wrapper .file-item-wrapper .file-item img {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 50px;
  max-height: 60px;
}
.files-list-wrapper .file-item-wrapper .file-item .name {
  position: absolute;
  left: 80px;
  top: 10px;
}
.files-list-wrapper .file-item-wrapper .file-item .log {
  position: absolute;
  left: 80px;
  top: 40px;
}
.files-list-wrapper .file-item-wrapper .file-item .remove {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
#upload_task_files_form legend {
  padding: 0 20px 3px 20px;
}
.todo-list-wrapper .todo-list li {
  border-bottom: 1px solid #dfdfdf;
  padding: 10px 15px 10px 15px;
  height: 20px;
}
.todo-list-wrapper .todo-list li .index {
  float: left;
  width: 40px;
}
.todo-list-wrapper .todo-list li a.name {
  float: left;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.todo-list-wrapper .todo-list li a.name:hover {
  text-decoration: underline;
}
.todo-list-wrapper .todo-list li .category {
  float: right;
  line-height: 20px;
  width: 70px;
}
.todo-list-wrapper .todo-list li .time {
  float: right;
  font-size: 12px;
  color: #666;
  width: 180px;
}
.todo-list-wrapper .todo-list li .comment-count {
  float: right;
  margin-top: 1px;
  width: 80px;
}
.bug-index-wrapper .bug-index-info {
  position: relative;
}
.bug-index-wrapper .bug-index-info table {
  border-bottom: solid 1px #dfdfdf;
}
.bug-index-wrapper .bug-index-info thead {
  background: linear-gradient(#e1e1e1, #cdcdcd) repeat 0 0;
  background: -webkit-linear-gradient(#e1e1e1, #cdcdcd) repeat 0 0;
}
.bug-index-wrapper .bug-index-info thead th {
  font-weight: normal;
}
.bug-index-wrapper .bug-index-info .task-id {
  padding-left: 10px;
}
.bug-index-wrapper .bug-index-info .bug-name {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bug-index-wrapper .pager {
  padding: 0 5px;
  display: none;
}
.bug-list-wrapper .bug-list-info {
  position: relative;
  padding: 20px 20px 0 20px;
  border-bottom: 1px solid #dfdfdf;
}
.bug-list-wrapper .bug-list-info #fetchBugProgress {
  position: absolute;
  left: 450px;
  top: 22px;
  width: 250px;
}
.bug-list-wrapper .bug-list-info #bugList {
  margin-top: 10px;
}
.bug-list-wrapper .bug-list-info #bugList i {
  cursor: pointer;
  margin-left: 5px;
}
.bug-list-wrapper .bug-closed-list {
  padding: 10px 20px 10px 20px;
  border-bottom: 1px solid #dfdfdf;
  background: #f5f5f5;
}
.bug-list-wrapper .bug-closed-list li {
  margin-bottom: 5px;
}
.bug-list-wrapper .bug-closed-list .index {
  margin-right: 10px;
}
.todo-new-wrapper .task-nav {
  padding: 10px 20px 10px 20px;
  border-bottom: solid 1px #dfdfdf;
}
.todo-new-wrapper .task-nav ul {
  margin-bottom: 0;
}
.todo-new-wrapper #create_task_todo_form {
  padding: 10px 20px;
}
.todo-new-wrapper #create_task_todo_form select {
  margin-left: 5px;
}
.todo-new-wrapper #create_task_todo_form #create_task_todo_form_btn {
  margin-top: 20px;
}
.bug-new-wrapper .task-nav {
  padding: 10px 20px 10px 20px;
  border-bottom: solid 1px #dfdfdf;
}
.bug-new-wrapper .task-nav ul {
  margin-bottom: 0;
}
.bug-new-wrapper #createBugForm {
  padding: 10px 20px;
}
.bug-new-wrapper #createBugForm select {
  margin-left: 5px;
}
.bug-new-wrapper #createBugForm #saveBug {
  margin-top: 20px;
}
.todo-edit-wrapper .task-nav {
  padding: 10px 20px 10px 20px;
  border-bottom: solid 1px #dfdfdf;
}
.todo-edit-wrapper .task-nav ul {
  margin-bottom: 0;
}
.todo-edit-wrapper #edit_task_todo_form {
  padding: 10px 20px;
}
.todo-edit-wrapper #edit_task_todo_form select {
  margin-left: 5px;
}
.todo-edit-wrapper #edit_task_todo_form .todo-origin-files {
  padding-top: 5px;
}
.todo-edit-wrapper #edit_task_todo_form .todo-origin-files .ori-file-item {
  float: left;
}
.todo-edit-wrapper #edit_task_todo_form .todo-origin-files i {
  cursor: pointer;
  margin: 2px 15px 0 5px;
}
.todo-edit-wrapper #edit_task_todo_form #edit_task_todo_form_btn {
  margin-top: 20px;
}
.bug-edit-wrapper #editBugForm {
  padding: 10px 20px;
}
.bug-edit-wrapper #editBugForm select {
  margin-left: 5px;
}
.bug-edit-wrapper #editBugForm .bug-origin-files {
  padding-top: 5px;
}
.bug-edit-wrapper #editBugForm .bug-origin-files .origin-file-item {
  float: left;
}
.bug-edit-wrapper #editBugForm .bug-origin-files i {
  cursor: pointer;
  margin: 2px 15px 0 5px;
}
.bug-edit-wrapper #editBugForm #saveBugBtn {
  margin-top: 20px;
}
.todo-info-wrapper .task-nav {
  padding: 10px 20px 10px 20px;
  border-bottom: solid 1px #dfdfdf;
}
.todo-info-wrapper .task-nav ul {
  margin-bottom: 0;
}
.todo-info-wrapper .todo-info {
  border-bottom: solid 1px #dedfe3;
}
.todo-info-wrapper .todo-info h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 0 10px 20px;
}
.todo-info-wrapper .todo-info h3 span {
  float: left;
}
.todo-info-wrapper .todo-info h3 span.label {
  clear: left;
  margin: 10px 20px 0 5px;
}
.todo-info-wrapper .todo-info h3 .complete,
.todo-info-wrapper .todo-info h3 .un-complete {
  width: 20px;
  height: 20px;
  margin: 10px 20px 0 5px;
  background: url("/images/complete.png") 0 0 no-repeat;
  cursor: pointer;
}
.todo-info-wrapper .todo-info h3 .un-complete {
  background: url("/images/un-complete.png") 0 0 no-repeat;
}
.todo-info-wrapper .todo-info h3 .edit-todo,
.todo-info-wrapper .todo-info h3 #delete_todo {
  float: right;
  margin: 7px 10px 0 0;
  font-weight: normal;
}
.todo-info-wrapper .todo-info h3 .operator {
  float: right;
  padding: 10px 20px 0 10px;
  color: #7a7874;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
}
.todo-info-wrapper .todo-info h3 .operator span {
  margin-left: 20px;
}
.todo-info-wrapper .todo-info h3 .file-item {
  float: left;
  margin: 10px 10px 0 5px;
  font-size: 12px;
  line-height: 20px;
}
.todo-info-wrapper .todo-info .content {
  padding: 20px 30px;
  margin: 10px 20px;
  border: solid 1px #dedfe3;
  border-radius: 5px;
  background-color: #f5f5f5;
}
.todo-info-wrapper .todo-info .content img {
  max-width: 1000px;
  margin: 10px auto;
}
.todo-info-wrapper .todo-discussion {
  padding: 0 20px 10px 20px;
}
.todo-info-wrapper .todo-discussion .add-comment {
  position: relative;
  padding: 20px 140px 20px 210px;
}
.todo-info-wrapper .todo-discussion .add-comment .my-avatar {
  position: absolute;
  top: 22px;
  left: 150px;
  width: 50px;
  height: 50px;
}
.todo-info-wrapper .todo-discussion .add-comment textarea {
  width: 100%;
  margin-bottom: 5px;
}
.todo-info-wrapper .todo-discussion .comment-item {
  position: relative;
  padding: 20px 0 10px 70px;
}
.todo-info-wrapper .todo-discussion .comment-item .operate-avatar {
  position: absolute;
  top: 20px;
  left: 0;
  width: 50px;
  height: 50px;
}
.todo-info-wrapper .todo-discussion .comment-item .comment-info {
  border-radius: 5px;
  border: solid 1px #dfdfdf;
  background: #efeddf;
}
.todo-info-wrapper .todo-discussion .comment-item .comment-info .comment-content {
  padding: 10px;
}
.todo-info-wrapper .todo-discussion .comment-item .comment-time {
  margin-top: 5px;
  font-size: 12px;
  color: #999;
}
.bug-info-wrapper .bug-info {
  position: relative;
  padding-bottom: 10px;
  border-bottom: solid 1px #dedfe3;
}
.bug-info-wrapper .bug-info h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 500px 10px 20px;
}
.bug-info-wrapper .bug-info .edit-bug-btn-group {
  position: absolute;
  top: 20px;
  right: 20px;
}
.bug-info-wrapper .bug-info .edit-bug-btn-group button {
  margin-left: 10px;
}
.bug-info-wrapper .bug-info .change-bug-status {
  position: absolute;
  right: 140px;
  top: 20px;
}
.bug-info-wrapper .bug-info .bug-base {
  margin: 10px 20px;
  border: solid 1px #dedfe3;
  border-radius: 5px;
  background-color: #f5f5f5;
}
.bug-info-wrapper .bug-info .bug-base dd {
  margin-bottom: 10px;
}
.bug-info-wrapper .bug-info .content {
  padding: 20px 30px;
  margin: 10px 20px;
  border: solid 1px #dedfe3;
  border-radius: 5px;
  background-color: #efeddf;
}
.bug-info-wrapper .bug-info .content img {
  max-width: 1000px;
  margin: 10px auto;
}
.bug-info-wrapper .bug-info .file-item {
  margin: 5px 10px 0 20px;
  font-size: 12px;
  line-height: 20px;
  float: left;
}
.bug-info-wrapper .bug-discussion {
  padding: 0 20px 10px 20px;
}
.bug-info-wrapper .bug-discussion .add-comment {
  position: relative;
  padding: 20px 140px 20px 210px;
}
.bug-info-wrapper .bug-discussion .add-comment .my-avatar {
  position: absolute;
  top: 22px;
  left: 150px;
  width: 50px;
  height: 50px;
}
.bug-info-wrapper .bug-discussion .add-comment textarea {
  width: 100%;
  margin-bottom: 5px;
}
.bug-info-wrapper .bug-discussion .comment-item {
  position: relative;
  padding: 20px 0 10px 70px;
}
.bug-info-wrapper .bug-discussion .comment-item .operate-avatar {
  position: absolute;
  top: 20px;
  left: 0;
  width: 50px;
  height: 50px;
}
.bug-info-wrapper .bug-discussion .comment-item .comment-info {
  border-radius: 5px;
  border: solid 1px #dfdfdf;
  background: #efeddf;
}
.bug-info-wrapper .bug-discussion .comment-item .comment-info .comment-content {
  padding: 10px;
}
.bug-info-wrapper .bug-discussion .comment-item .comment-time {
  margin-top: 5px;
  font-size: 12px;
  color: #999;
}
.review-form-area {
  padding: 20px;
}
.review-form-area .review-input-radio-content {
  margin-right: 20px;
}
.review-form-area .operate-review a {
  margin-right: 10px;
}
.review-form-area #scoreStat form input {
  margin-right: 10px;
}
.review-form-area #caculateBtn {
  margin-right: 10px;
}
.review-form-area #scoreResult dt,
.review-form-area #scoreResult dd {
  padding: 5px 0;
  border-bottom: dashed 1px #dfdfdf;
}
.review-form-area .description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}
.projects-list {
  padding: 20px;
}
.projects-list .project-item {
  padding: 10px 30px;
  margin: 10px 0;
  border: solid 1px #dedfe3;
  border-radius: 5px;
  background-color: #f5f5f5;
  position: relative;
}
.projects-list .project-item .badge {
  position: absolute;
  right: 30px;
  top: 20px;
}
.projects-list .project-item ul li {
  margin-bottom: 5px;
  border-bottom: dashed 1px #dfdfdf;
  padding-bottom: 5px;
}
.projects-list .project-item ul li .index {
  margin-right: 10px;
  display: inline-block;
  width: 60px;
}
.projects-list .project-item ul li a {
  margin-right: 10px;
  display: inline-block;
  width: 400px;
  overflow: hidden;
}
.wiki-list {
  padding: 20px;
}
.wiki-list li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: dashed 1px #dfdfdf;
}
.err-404 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  padding-top: 200px;
}
.err-404 .tip {
  padding-top: 20px;
  font-size: 14px;
}
.err-404 .tip a {
  color: #fff;
  text-decoration: underline;
}
