extends ../layout
append head
    script(src='/javascripts/wiki/index.js')
block content
    .app-layout
        #main
            include ../include/app-sidebar
            #content
                .content-layout
                    .detail-wrapper
                        .detail
                            section
                                .action-bar.clearfix
                                    button.button-close-pane
                                .scrollable
                                    .inner
                    .list
                        .list-header.clearfix
                            header Wiki
                            .operate-wrapper
                        .wiki-list.scrollable
                            ul
                                li
                                    a(href='/pages/js-equal.html', target='_blank') JavaScript 相等判断速查表
                                    |  -- 火柴 2012-11-14
                                li
                                    a(href='/pages/developer-standards.txt', target='_blank') 开发者规范.txt
                                    |  -- 2013-07-18
                                li
                                    a(href='/pages/coding-standards.txt', target='_blank') 平台部编码规范.txt
                                    |  -- 2013-07-18
                                li
                                    a(href='/pages/work-flow-standards.txt', target='_blank') 平台部开发流程规范.txt
                                    |  -- 2013-07-18
                                li
                                    a(href='/pages/review-standards.xlsx', target='_blank') 平台部考核执行方案（修改稿）.xlsx
                                    |  -- 2013-07-18
                                li
                                    a(href='/pages/ad-suggestion.docx', target='_blank') 广告页制作建议.docx
                                    |  -- 2013-07-18